<!DOCTYPE html>
<html>

<head>
  <title>小売店</title>
  <link rel="stylesheet" type="text/css" href="market.css">
  <style>
    .book-true {
      background-color: bisque;
    }
  </style>
</head>

<body>
  <header id="header">
    <img src="./images/tsunago.png" alt="">
  </header>
  <hr>
  <h1>TSUNAGO</h1>
  <hr>
  <!-- HTML -->
  <div id="app">
    <!--  登録する  -->
    <div id="resist">
      <h2>登録情報</h2>
      <div id="inner">
        <div class="msr_filebox_02">
          <p>商品画像 :</p>
          <label>
            <input type="file" id="file" @change="fileChange">
          </label>
          <p v-if="img">
            preview:<br>
            <img style="width:200px" :src="img">
          </p>
        </div>
        <div class="msr_text_02">
          <p>商品名 : </p>
          <label><input type="text" v-model="tagName"></label>
        </div>
        <div class="msr_pulldown_02">
          <p>商品カテゴリー : </p>
          <label for="category"></label>
          <select id="category" v-model="category">
            <option selected>その他</option>
            <option>お惣菜🍙</option>
            <option>パン🍞</option>
            <option>生鮮食品🍅</option>
            <option>お菓子🍭</option>
            <option>日配食品🐄</option>
          </select>
        </div>
        <div class="msr_text_03">
          <p>価格 :</p>
          <label>
            <input type="text" v-model="price">
            円</label>
        </div>
        <div class="msr_pulldown_02">
          <p>割引率 : </p>
          <label for="discount"></label>
          <select id="discount" v-model="discount" name="msr_02_pulldown01">
            <option selected>定価</option>
            <option>10%OFF</option>
            <option>20%OFF</option>
            <option>30%OFF</option>
            <option>50%OFF</option>
            <option>セール価格</option>
          </select>
        </div>
        <div class="msr_pulldown_02">
          <p>廃棄予定日 :</p>
          <label>
            <input type="date" v-model="deadline">
          </label>
        </div>
        <div class="msr_text_02">
          <p>販売場所 : </p>
          <label><input type="text" v-model="overView"></label>
        </div><br>

        <!--  登録ボタン  -->

        <button class="btn" @click="registBtn()">登録！</button>
        <br>
      </div>
    </div>
    <br>
    <hr>
    <!--  表示する  -->
    <h2>登録された商品</h2>
    <p>予約された商品は<span style="background-color:bisque">背景色</span>が変わります。</p>
    <table class="hyouji">
      <tr>
        <th>商品画像</th>
        <th>商品名</th>
        <th>商品カテゴリー</th>
        <th>価格</th>
        <th>割引率</th>
        <th>廃棄期限</th>
        <th>販売場所</th>
      </tr>
      <tr v-for="d in data" :class="'book-'+d.booked">
        <td><img style="width:100px" :src="d.img"></td>
        <td>{{d.tagName}}</td>
        <td>{{d.category}}</td>
        <td>{{d.price}}円</td>
        <td>{{d.discount}}</td>
        <td>{{d.deadline}}</td>
        <td>{{d.overView}}</td>
      </tr>
    </table>

    <hr>
    <button @click="clearData()">localStorageクリア</button>
    <button @click="viewData()">dataプロパティのコンソール表示</button>
  </div>
  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // 2回連続同じ画像ファイルをアップロードしようとしたとき対策
    window.addEventListener('DOMContentLoaded', function () {
      document.getElementById('file').addEventListener('click', function (e) {
        this.value = null;
      });
    });

    let app = new Vue({
      el: '#app',
      data: {
        data: [],
        tagName: '',
        category: 'その他',
        price: '',
        discount: '定価',
        deadline: '',
        overView: '',
        searchedTag: '',
        photo: '',
        img: '',
        prevImg: ''
      },
      mounted: function () {
        let savedata = JSON.parse(localStorage.getItem('save'));
        if (savedata != null) {
          this.data = JSON.parse(localStorage.getItem('save'));
        }
      },
      methods: {
        registBtn: function () {

          // localStorageに格納
          this.data.push({
            img: this.img,
            tagName: this.tagName,
            category: this.category,
            price: this.price,
            discount: this.discount,
            deadline: this.deadline,
            overView: this.overView,
            booked: false,
            uid: Math.random().toString(36).slice(-8) // 商品ID
          });
          localStorage.setItem('save', JSON.stringify(this.data));

          // 格納したら用済み
          this.img = '';
          this.tagName = '';
          this.category = 'その他';
          this.price = '';
          this.discount = '定価';
          this.deadline = '';
          this.overView = '';
        },

        // localStorageのデータ確認・削除用
        clearData: function () {
          localStorage.removeItem('save');
        },
        viewData: function () {
          console.log('this.data:');
          console.log(this.data);
        },

        // 画像データの取得
        fileChange: function (ev) {
          /*
            引数としてinputエレメントが取得できる（これはFileReader APIとは関係ない）
            引数.target.filesオブジェクトがアップロードされた各ファイルの情報
          */

          // 以下のサンプルではファイルが一つしかアップロードされていないことを前提としている
          let file = ev.target.files[0];

          // アップロードをキャンセルとかするとundefinedが入る
          if (file == undefined) {
            return;
          }

          // 他にもいろいろと属性がある（サイズとか）
          if (!file.type.match('image.*')) {
            alert('選択できるファイル形式は画像だけです。');
            return;
          }

          /*
            ここからFileReader APIによるファイルの詳細情報の読み込み
            img要素のsrc属性に設定するURLはFileReader経由でしか取得できない（同階層にある画像はfile.nameでも取れるが、フォルダに入っている画像などは無理）
          */
          let reader = new FileReader();
          /*
            ファイル情報の読み込みが終わってからしか使えないのでonloadメソッドの中でデータを取得する（ロードが終わったファイル情報は引数で受け取る）
          */
          reader.onload = (f) => {
            this.img = f.target.result;
          };

          // ココでファイルを読み込んで、上のonloadが実行される感じ（たぶん）
          reader.readAsDataURL(file);
        }
      }
    });

  </script>
</body>